<header class="app-header">
    <div class="header-container">
        <div class="header-logo">
            <div class="logo-icon"
                 data-fg-d3bl6="1.4:9.1702:/src/app/App.tsx:54:13:2087:138:e:div">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="lucide lucide-message-circle w-6 h-6 text-indigo-600"
                     data-fg-d3bl7="1.4:9.1702:/src/app/App.tsx:55:15:2153:53:e:MessageCircle::::::CcWz">
                    <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z"></path>
                </svg>
            </div>
            <div class="header-title">
                <h1>FunSMS</h1>
                <span>Send Laughs, Not Spam</span>
            </div>
        </div>

        <div class="header-actions">
            @if (currentUser(); as user) {
                <div class="user-profile">
                    <button
                            type="button"
                            class="user-profile-button"
                            (click)="menu.toggle($event)"
                            pButton
                            [label]="user.name"
                    >
                        <p-avatar
                                [label]="userInitials()"
                                [image]="user.profile_picture"
                                shape="circle"
                                styleClass="user-avatar"
                        />
                    </button>

                    <p-menu
                        #menu
                        [model]="menuItems"
                        [popup]="true"
                        styleClass="user-menu"
                    />
                </div>
            }
        </div>
    </div>
</header>

